/GunfireRebornVRMod/GRVRMod/bin
/GunfireRebornVRMod/GRVRMod/obj
/GunfireRebornVRMod/GRVRMod/test
/GunfireRebornVRMod/VRPatcher/bin
/GunfireRebornVRMod/VRPatcher/obj
/GunfireRebornVRMod/.vs
/GunfireRebornVRUnity/GunfireRebornVR/.vs
